# project
chromadb/

# virtual environment
venv/
env/
.venv/

# environment variables
*.env

# vscode
.vscode/

# python files
*__pycache__/
.mypy_cache/
.pytest_cache/
*pytest_report.html
.coverage

# docker
.dockerignore

# notebooks
# *.ipynb

# ssh
*.pem
*.p8

# logs
*log/
*.log

# folders
data/
src/*data/
temp/
tmp/

# miscelleanous
*.todo